# If needed, we can split this in multiple files

# Locust Requirements
locustio==0.8.1

PyYAML==5.1

faker==0.8.17

six==1.11.0
requests==2.20.0

# Words Management - Singularize/Pluralize, capitalize etc
inflection==0.3.1

pysed==0.7.8

# DB Management
peewee==3.6.4
pymysql==0.9.2
psycopg2==2.7.5

# Developer Tools
pylint==2.2.2
git-pylint-commit-hook==2.5.1
pytest==4.3.0
pytest-cov==2.6.1
